body {
    background: url(../img/wallpaper.jpg) center center fixed;
    background-size: 100% 100%;
}

#panel1 {
    position: fixed;
    left: 1%;
    right: 35%;
    top: 12%;
    bottom: 21%;
}

#panel1-body {
    align-content: stretch;
    position: absolute;
    top: 5%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

#panel2 {
    position: fixed;
    left: 66%;
    right: 1%;
    top: 12%;
    bottom: 1%;
}

#webchat {
    vertical-align: top;
    width: 100%;
    height: 100%;
}

#panel1-head {
    height: 5%;
    position: absolute;
    width: 100%;
    color: darkgreen;
    background-color: black;
    text-align: center;
}

#topic {
    padding: 0 9px;
    text-align: center;
    color: #fff;
    font-size: x-large;
}

#panel3 {
    position: fixed;
    top: 1%;
    bottom: 87%;
    left: 1%;
    right: 1%;
}

#topic2 {
    color: #fff;
    text-align: center;
    padding: 0 9px;
    font-size: x-large;
}

#panel3-head {
    background-color: #262626;
}

#stream1 {
    width: 100%;
    height: 100%;
}

#panel4 {
    bottom: 1%;
}